.upload-menu-item span {
  background-color: transparent;
  border: none;
  width: 100%;
}

.file-upload-clear-style .p-fileupload-choose {
  width: 100%;
  color: #495057 !important;
  background: transparent !important;
  border-color: transparent !important;
}

.file-upload-clear-style span {
  box-shadow: 0 0 0 0 transparent !important;
}

.file-upload-clear-style .p-clickable {
  text-align: left;
  padding-left: 3px;
}

.file-upload-hover :hover {
  background: #e9ecef;
}

.confirm-remove-base-select-yes .p-button {
  background: var(--surface-b) !important;
  color: black !important;
}

.confirm-remove-base-select-yes .p-highlight {
  background: var(--green-600) !important;
  color: white !important;
}

.confirm-remove-base-select-no .p-button {
  background: var(--surface-b) !important;

  color: black !important;
}

.confirm-remove-base-select-no .p-highlight {
  background: red !important;
  color: white !important;
}
